@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";

.main {
    margin: 46px auto;
    width: 780px;

    @media screen and (max-width: 780px) {
        margin: 34px auto;
        width: 100%;
        padding: 0 18px;
        box-sizing: border-box;
    }

    &__container {
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;

        &_border {
            @media screen and (max-width: 672px) {
                padding: 30px 0;
                border-top: 2px solid $gray-light;
                border-bottom: 2px solid $gray-light;
            }
        }

        @media screen and (max-width: 425px) {
            width: 100%;
            box-sizing: border-box;
        }

        @media screen and (max-width: 780px) {
            width: 100%;
            box-sizing: border-box;
        }

    }

    &__title {
        margin-bottom: 46px;
        font-family: 'museo_sans_cyrl900';
        font-size: 36px;
        color: $black;

        &_center {
            text-align: center;
        }

        &_left-mobile {
            @media screen and (max-width: 425px) {
                text-align: left;
            }
        }

        &_upper {
            text-transform: uppercase;
        }

        @media screen and (max-width: 672px) {
            margin-bottom: 20px;
        }

    }

    &__card {
        margin-right: 20px;
        margin-bottom: 56px;
        flex: 300px;

        &:nth-child(even) {
            margin-right: 0;
        }

        &:last-child {
            @media screen and (max-width: 672px) {
                margin-bottom: 0px;
            }
        }

        @media screen and (max-width: 425px) {
            flex: 100%;
        }

        @media screen and (max-width: 636px) {
            margin-right: 0;
            margin-bottom: 26px;
        }

    }

}