@font-face {
    font-family: 'museo_sans_cyrl100';
    src: url('../fonts/museosanscyrl.woff2') format('woff2'),
         url('../fonts/museosanscyrl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fonts/museosanscyrl_0.woff2') format('woff2'),
         url('../fonts/museosanscyrl_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('../fonts/museosanscyrl_1.woff2') format('woff2'),
         url('../fonts/museosanscyrl_1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('../fonts/museosanscyrl_2.woff2') format('woff2'),
         url('../fonts/museosanscyrl_2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_cyrl900';
    src: url('../fonts/museosanscyrl_3.woff2') format('woff2'),
         url('../fonts/museosanscyrl_3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}